* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--text-color: #ccc;
	--flag-color: #55a;
	--flag-color-hover: #11a;
	--mine-color: #a55;
	--cell-color: #666;
	--cell-covered-color: #bbb;
	--cell-covered-color-hover: #aaa;
	--found-color: #5a5;
	--found-color-hover: #5a5;
	--table-background-color: #777;
	--menu-background-color: #bbb;
	--menu-border-color: #777;
	--body-background-color: #ccc;
}
body {
	background-color: var(--body-background-color);
}
table {
	border: 5px solid var(--table-background-color);
	background-color: var(--table-background-color);
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding: 5px;
}
.information {
	display: flex;
	gap: 6em;
	margin: 0.5em;
	justify-content: space-between;
}
.game-name {
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 700;
}
.menu-form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	padding: 1em;
	border: 5px solid var(--menu-border-color);
	background-color: var(--menu-background-color);
}
.menu-form input {
	width: 4em;
	padding: 0.2em;
}
.menu-form button {
	width: 8em;
	padding: 0.2em;
}
.cell {
	background-color: var(--cell-color);
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: var(--text-color);
	transition: all 0.3s ease-in;
}
.cell-covered {
	background-color: var(--cell-covered-color);
	font-size: 0;
}
.cell-covered:hover {
	background-color: var(--cell-covered-color-hover);
}
.mine {
	background-color: var(--mine-color);
}
.flagged {
	background-color: var(--flag-color);
}
.flagged:hover {
	background-color: var(--flag-color-hover);
}
.found {
	background-color: var(--found-color);
}
.found:hover {
	background-color: var(--found-color-hover);
}
